<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form method="post" action="/new">
      <h1>Add a new message!</h1>
      <label for="name">Your name</label>
      <input type="text" id="name" name="name" />
      <label for="message">Your message</label>
      <input type="text" name="message" id="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
