<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
    <div>
      <p>From: <%= message.user %></p>
      <p>At <%= message.added %></p>
      <p>
        Click
        <a href="./messages/<%= messages.indexOf(message) + 1 %>">here</a>
        to view their message
      </p>
    </div>
    <% }) %>
    <a href="./new">Click here to create a new message</a>
  </body>
</html>
