<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>
  <body>
    <% messages.forEach(message => { %>
    <div>
      <p>Message: <%= message.text %></p>
      <p>Posted by: <%= message.user %></p>
      <p>At <%= message.added %></p>
    </div>
    <% }) %>
  </body>
</html>
