<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
  </head>
  <body>
    <h1>Message details:</h1>
    <div>
      <p>Message: <%= message.text %></p>
      <p>Posted by: <%= message.author %></p>
      <p>At <%= message.added %></p>
    </div>
  </body>
</html>
